.title-nav{
	background-color: #ee6e73;
}
.main-img{
	border-radius: 50%;
	margin: 5px;
}
.about-img-width{
	width: 50%;
}
.icons{
	width: 10px;
}
.icons.science{
	background-image: url('images/science.png')
}