<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Ketaki Rao</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body ng-app="ketakiApp" ng-app="ketakiApp" ng-controller="mainController">
  <!-- <div class="main" ng-style="backImg"></div>
  <img class="sunlight" src="images/sunlight.png">
  <div class="overlay">
    <div class="name">Ketaki Rao</div>
    <div class="wordcloud item1" ng-mouseenter="chngBack('origami')" ng-mouseleave="chngBack('')"><a href="templates/origami.html">Origami</a></div>
    <div class="wordcloud item2" ng-mouseover="chngBack('cssshapes')"><a href="#">CSS Shapes</a></div>
    <div class="wordcloud item3" ng-mouseover="chngBack('jsexp')"><a href="#">JS Experiments</a></div>
  </div> -->

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../ketakiApp.module.js"></script>
    <script src="../js/ketakiApp.route.js"></script>
    <script src="../mainController.js"></script>
    <script src="../js/materialize.js"></script>
    <!-- <script src="js/init.js"></script> -->
  </body>
  </html>